.hero {
    width: 100%;
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #09366a;
}

.back-video {
    width: 100%;
}

.underhero {
    padding-top: 1vh;
}

@media only screen and (max-width: 1024px) {
    .underhero {
        padding-top: 0.5vh;
    }
    .hero {
        padding-left: 12%;
        padding-right: 12%;
    }
    .desc-img-left {
        width: 55%;
    }
    .desc-text-right {
        width: 45%;
    }
}

@media only screen and (max-width: 850px) {
    .underhero {
        padding-top: 1vh;
    }
    .desc-img-left {
        width: 100%;
    }
    .desc-text-right {
        width: 100%;
    }
}

@media only screen and (max-width: 810px) {
    .hero {
        width: 100%;
        padding: 0;
    }
    .back-video {
        width: 100%;
    }
}
